# Module: SQLite3 Assignments
## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.

In [1]:
import sqlite3

db = sqlite3.connect('test.db')

2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

In [2]:
db.execute('''
    CREATE TABLE IF NOT EXISTS
           employees(
           id INTEGER PRIMARY KEY,
           name TEXT NOT NULL,
           age INTEGER NOT NULL,
           department TEXT NOT NULL
           )
''')

db.commit()

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.

In [39]:
db.execute('''
    INSERT INTO employees(name, age, department)
           VALUES('Ram', 25, 'AI/ML')
''')

db.commit()

2. Insert at least 5 different employees into the `employees` table.

In [40]:
employee_data = [
    ('Shyam', 30, 'Full-Stack'),
    ('Bob', 22, 'AI'),
    ('John', 25, 'DevOps'),
    ('Sheela', 30, 'Operations')
]

db.executemany('''
    INSERT INTO employees(name, age, department)
           VALUES(?,?,?)
''', employee_data)

db.commit()

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.

In [48]:
rows = db.execute('SELECT * FROM employees')

for row in rows:
    print(row)

(1, 'Ram', 25, 'AI/ML')
(2, 'Shyam', 30, 'Full-Stack')
(3, 'Bob', 24, 'AI')
(4, 'John', 22, 'DevOps')
(5, 'Sheela', 30, 'Operations')
(6, 'Ram', 25, 'AI/ML')
(7, 'Shyam', 30, 'Full-Stack')
(8, 'Bob', 24, 'AI')
(9, 'John', 22, 'DevOps')
(10, 'Sheela', 30, 'Operations')
(11, 'Gary', 30, 'Full-Stack')
(12, 'Wilson', 22, 'AI')
(13, 'Xhosa', 25, 'DevOps')
(14, 'Maximilian', 30, 'AI')

2. Write a Python function to fetch and display all employees from a specific department.

In [18]:
rows = db.execute('SELECT * FROM employees WHERE department="AI/ML"')

for row in rows:
    print(row)

(1, 'Ram', 25, 'AI/ML')

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.

In [14]:
db.execute(
'''
    UPDATE employees
    SET department="HR"
    WHERE id=3
'''
)

2. Update the department of at least 2 employees and display the updated records.

In [19]:
db.execute(
'''
    UPDATE employees
    SET department="AI/ML"
    WHERE department="HR"
'''
)

rows = db.execute("SELECT * FROM employees")

for row in rows:
    print(row)

(1, 'Ram', 25, 'AI/ML')
(2, 'Shyam', 30, 'Full-Stack')
(3, 'Bob', 22, 'AI/ML')
(4, 'John', 25, 'DevOps')
(5, 'Sheela', 30, 'Operations')

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.

In [34]:
db.execute('DELETE FROM employees WHERE id=8')

2. Delete at least 1 employee and display the remaining records.

In [22]:
db.execute('DELETE FROM employees WHERE id=2')

rows = db.execute('SELECT * FROM employees')

for row in rows:
    print(row)

(3, 'Bob', 22, 'AI/ML')
(4, 'John', 25, 'DevOps')
(5, 'Sheela', 30, 'Operations')

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.

In [27]:
rows = db.execute('SELECT * FROM employees where age > 22')

for row in rows:
    print(row)

(4, 'John', 25, 'DevOps')
(5, 'Sheela', 30, 'Operations')

2. Write a Python function to fetch and display employees whose names start with a specific letter.

In [29]:
rows = db.execute("SELECT * FROM employees WHERE name LIKE 'J%'")

for row in rows:
    print(row)

(4, 'John', 25, 'DevOps')

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.

In [42]:

employee_data = [
    ('Gary', 30, 'Full-Stack'),
    ('Wilson', 22, 'AI'),
    ('Xhosa', 25, 'DevOps'),
    ('Maximilian', 30, 'AI')
]

try:
    db.execute('BEGIN')
    db.executemany('''
        INSERT INTO employees(name, age, department)
            VALUES(?, ?, ?)
    ''', employee_data)
    db.commit()
except:
    db.rollback()

2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

In [47]:
updates = [
    (24, 'Bob'),
    (22, 'John')
]

try:
    db.execute('BEGIN')
    db.executemany(
    '''
        UPDATE employees
        SET age = ?
        WHERE name = ?
    '''
    , updates)
except:
    print("Rolling back")
    db.rollback()

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).

In [61]:
db.execute(
'''
    CREATE TABLE IF NOT EXISTS
    departments(
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL
    )
''')

2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.

In [69]:
#db.execute('ALTER TABLE employees RENAME to employee_old')

db.execute('''
    CREATE TABLE IF NOT EXISTS employees(
           id INTEGER PRIMARY KEY,
           name TEXT NOT NULL,
           age INTEGER NOT NULL,
           department INTEGER,
           FOREIGN KEY(department) REFERENCES departments(id)
    )
''')

3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

In [71]:
departments_data = [
    ('AI/ML',),
    ('Full-stack',),
    ('Data Science',),
    ('DevOps',)
]

db.executemany('''
    INSERT INTO departments(name)
               VALUES(?)
''', departments_data)

In [72]:
employee_data = [
    ('Gary', 30, 1),
    ('Wilson', 22, 2),
    ('Xhosa', 25, 3),
    ('Maximilian', 30, 4)
]

try:
    db.execute('BEGIN')
    db.executemany('''
        INSERT INTO employees(name, age, department)
            VALUES(?, ?, ?)
    ''', employee_data)
    db.commit()
except:
    db.rollback()

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.

In [75]:
db.execute('CREATE INDEX name_index ON employees(name)')

2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

In [76]:
rows = db.execute('SELECT * FROM employees WHERE name LIKE "J%"')

for row in rows:
    print(row)

(4, 'John', 25, 'DevOps')
(9, 'John', 25, 'DevOps')

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.

In [77]:
backup = sqlite3.connect('backup.db')

with backup:
    db.backup(backup)

2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [78]:
with db:
    backup.backup(db)