# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [5]:
integer_set = {item for item in range(1, 11)}
print(integer_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [2]:
integer_set.add(11)
integer_set.remove(1)

print(integer_set)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [6]:
positive_set = {item for item in range(1, 6)}
even_set = {item for item in range(1, 11) if item % 2 == 0}

print(positive_set.union(even_set))
print(positive_set.intersection(even_set))
print(positive_set.difference(even_set))
print(positive_set.symmetric_difference(even_set))

{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{1, 3, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [10]:
square_set = {item ** 2 for item in range(1, 11)}
print(square_set)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [11]:
even_set = {item for item in integer_set if item % 2 == 0}
print(even_set)

{2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [14]:
dup_set = {1, 2, 3, 4, 5, 6, 6, 7, 7}
print(dup_set)

{1, 2, 3, 4, 5, 6, 7}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [16]:
five_set = {item for item in range(1, 6)}
three_set = {item for item in range(1, 4)}

print(three_set.issubset(five_set))
print(five_set.issuperset(three_set))

True
True

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [17]:
frozenset(item for item in range(1, 6))

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [18]:
five_set = {num for num in range(1, 6)}
five_list = list(five_set)
five_list.append(6)
six_set = set(five_list)
print(six_set)

{1, 2, 3, 4, 5, 6}

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [23]:
my_key = {
        frozenset({1, 2, 3}): 1,
        frozenset({4, 5, 6}): 2
    }

print(my_key)

{frozenset({1, 2, 3}): 1, frozenset({4, 5, 6}): 2}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [24]:
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9}

for num in my_set:
    print(num)

1
2
3
4
5
6
7
8
9

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [28]:
my_set = {1, 2, 3, 4, 5}

while len(my_set) != 0:
    my_set.pop()
    print(my_set)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [29]:
first_set = {1, 2, 3, 4, 5}
second_set = {2, 4, 6, 8, 10}

first_set = first_set.symmetric_difference(second_set)
first_set

{1, 3, 5, 6, 8, 10}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [31]:
test_set = {2, 4, 6, 8, 10}

print(4 in test_set)
print(7 in test_set)

True
False

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [32]:
set_nested_tuple = {(1, 2), (3, 4), (5, 6)}
print(set_nested_tuple)

{(1, 2), (3, 4), (5, 6)}