# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
integers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(integers)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [4]:
print(integers[0])
print(integers[len(integers) // 2])
print(integers[-1])

1
6
10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [5]:
print(integers[:3])
print(integers[-3:])
print(integers[2:5])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [6]:
matrix_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
print(matrix_tuple)
print(matrix_tuple[1][2])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [7]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [9]:
dup_tuple = (1, 2, 3, 3)
print(dup_tuple.count(3))
print(dup_tuple.index(3))

2
2

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [11]:
packed_tuple = (1, 2, 3, 4, 5)
a, b, c, d, e = packed_tuple

print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [12]:
integer_list = [1, 2, 3, 4, 5]
tuple(integer_list)

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [13]:
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
print(nested_tuple)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [14]:
five_tuple = (1, 2, 3, 4, 5)
new_list = list(five_tuple)
new_list.append(6)
six_tuple = tuple(new_list)
print(six_tuple)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [16]:
my_name = ('a', 'b', 'i', 's', 'h', 'e', 'k')

name = ''
for letter in my_name:
    name += letter

print(name)

abishek

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [18]:
my_map = {
    (1, 2, 3): 1,
    (4, 5, 6): 2,
    (6, 7, 8): 3
    }
print(my_map)

{(1, 2, 3): 1, (4, 5, 6): 2, (6, 7, 8): 3}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [21]:
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))

for one_tuple in nested_tuple:
    for item in one_tuple:
        print(item, end=" ")

1 2 3 4 5 6 7 8 9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [22]:
dup_tuple = (1, 2, 2, 3, 3, 4, 4)
set(dup_tuple)

{1, 2, 3, 4}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [24]:
sample_tuple = (1, 2, 2, 3, 3, 4, 4)

def min_max_sum(tuple):
    min_value = min(tuple)
    max_value = max(tuple)
    sum_value = sum(tuple)

    return min_value, max_value, sum_value

min_val, max_val, sum_val = min_max_sum(sample_tuple)
print(min_val)
print(max_val)
print(sum_val)

1
4
19